# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/

# drawing files
/svg
svgs.json

# System files
.DS_Store
