:root {
  /* colors */
  --primary-color: #8508b2;
  --secondary-color: #35b208;
  --background-color: #ffffff;
  --body-color: #1a1a1a;
  /* borders  */
  --border-width: 0.4375rem;
  --border-radius: 0.4375rem;

  --font-sans-serif: "Inter", sans-serif;
}
