header {
  border: var(--border-width) solid var(--body-color);
  border-block-end: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  position: relative;
  z-index: 1;
}

header svg {
  display: block;
  stroke-width: 7;
}

.home-link {
  color: var(--body-color);
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 56.25em) {
  header {
    border-block-end: var(--border-width) solid var(--body-color);
  }
}
