@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/inter-variable.woff2") format("woff2-variations");
}

body {
  line-height: 1.625;
  color: var(--body-color);
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.125em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif);
  font-weight: 500;
  margin-top: 0;
}

h1 {
  letter-spacing: -0.015em;
  line-height: 1.25;
  font-size: 1.5em;
}

h2 {
  letter-spacing: -0.015em;
  margin-bottom: 0.5em;
  line-height: 1.25;
}

p {
  margin-bottom: 1.5em;
}

em {
  font-size: 0.975em;
}
