:root {
  --primary-color: #8508b2;
  --secondary-color: #35b208;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.625;
  color: #1a1a1a;
  font-family: 'bookmania', Georgia, serif;
  font-weight: 400;
  font-size: 1.125em;
}

body::after {
  content: 'base 0-420';
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  padding: 0.5em 1em;
  font-family: 'filson-pro', sans-serif;
  color: white;
}

body::after {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'filson-pro', sans-serif;
  font-weight: 300;
}

h1 {
  letter-spacing: -0.015em;
  line-height: 1.25;
  font-size: 1.5em;
}

h2 {
  letter-spacing: -0.015em;
  margin-bottom: 0.5em;
  line-height: 1.25;
}

p {
  margin-bottom: 1.5em;
}

em {
  font-size: 0.975em;
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

.single-link {
  font-family: 'filson-pro', sans-serif;
}

/* accessibility */
.assistive-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.assistive-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: blue;
  color: var(--primary-color);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

*:focus,
button:focus,
input:focus {
  outline: 0.125em solid var(--primary-color);
  outline-offset: 0.15em;
}

*[tabindex='-1']:focus {
  outline: none;
}

html:has(.active),
html:has(.active) body {
  overflow-y: hidden;
}

html:has(.active) body {
  position: relative;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

.base-layout {
  max-width: 84.375em;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-family: 'filson-pro', sans-serif;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4375rem solid black;
  background: white;
  margin-bottom: -0.4375rem;
  margin-top: 0.75em;
  z-index: 2;
}

.title a {
  transition: color 0.35s, background 0.35s;
  letter-spacing: -0.015em;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title svg {
  width: 100%;
  height: 100%;
}

.title svg .seven {
  stroke-width: 7;
}

.title a:focus,
.title a:hover {
  background: var(--primary-color);
  outline: 0;
}

.title a:focus svg,
.title a:hover svg {
  fill: white;
}

.title a:focus svg path,
.title a:hover svg path {
  stroke: white;
}

.button {
  font-size: 1em;
  background: var(--primary-color);

  color: white;
  padding: 0.5em 0.75em;
  border: none;
  box-shadow: none;
  appearance: none;
  border-width: 0;
  font-family: 'filson-pro', sans-serif;
  font-style: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.header .single-link {
  display: inline-block;
  margin-bottom: 1em;
}

.drawing-page .content {
  z-index: 1;
  text-align: left;
}

.intro .copy {
  border: 0.4375rem solid black;
  padding: 3em 1.5em;
  background: rgba(255, 255, 255, 0.97);
  position: relative;
}

.drawing-page main {
  margin-bottom: 8em;
  pointer-events: none;
}

.drawing-page main header,
.drawing-page main .content {
  pointer-events: auto;
}

.drawing-page header {
  background: white;
  padding: 1.5em;
  border: 0.4375rem solid black;
  position: relative;
  z-index: 1;
}

.drawings {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 2.25%;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.drawings li {
  position: relative;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background: white;
  box-shadow: 0 0 0 0.4375rem black;
  padding-bottom: 4em;
}

.drawings li.active {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 10;
  transform: translate3d(0);
  animation: zoomIn 0.5s;
}

.drawings li.active svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100dvh;
  height: 100%;
  width: 100%;
}

.drawings svg {
  display: block;
}

.drawings .name {
  position: absolute;
  bottom: 3em;
  display: block;
  text-align: center;
  width: 100%;
  font-family: 'filson-pro', sans-serif;
}
.drawings .draggable {
  cursor: move;
}

.drawings li button {
  font-size: 1em;
  background: var(--primary-color);
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  color: white;
  padding: 0.5em 0.75em;
  border: none;
  box-shadow: none;
}

.drawings .draggable {
  cursor: move;
  transition: stroke-width 0.35s ease-in-out;
}

.drawings .draggable:focus {
  outline: none;
  stroke: var(--primary-color);
  stroke-width: 0.2175em;
}

.drawings li .disable-editing {
  top: 1em;
  bottom: inherit;
  display: inline-block;
}

.drawings li .edit {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 0;
}

.drawings li .edit:focus {
  outline-width: 0.275em;
  outline-offset: -0.2em;
}

.drawings li .edit span {
  transition: opacity 0.35s ease-in-out;
  opacity: 0;
  background: var(--primary-color);
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  color: white;
  padding: 0.5em 0.75em;
}
.drawings li .edit:focus span,
.drawings li .edit:hover span {
  opacity: 1;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  will-change: transform;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  overflow: visible;
  position: fixed;
  width: 61.1111111111em;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background svg {
  height: 61.1111111111em;
  overflow: visible;
  animation: infinite-spinning 420s infinite;
}

.path-green {
  fill: var(--secondary-color);
}

.path-purple {
  fill: var(--primary-color);
}

.path-black {
  fill: black;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary-color);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
}

/*
250px 15.265em
420px 26.25em
750px 46.875em
1020px 56.66em
1500 83.33em
*/

@media screen and (min-width: 15.625em) {
  .drawings li {
    padding-bottom: 0;
  }

  .drawings li .name {
    bottom: 0.85em;
  }
}

@media screen and (min-width: 26.25em) {
  body {
    font-size: 1.125rem;
  }
  body::after {
    content: 'small 420-750';
  }

  .drawing-page main {
    text-align: right;
    margin-top: -7.4em;
  }

  .drawing-page header {
    display: inline-block;
    margin-right: -0.4375rem;
  }

  .drawing-page .title {
    margin-left: -0.4375rem;
  }

  .drawings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    grid-gap: 7px;
    padding: 0;
  }
}

@media screen and (min-width: 46.875em) {
  body::after {
    content: 'medium 750-1020';
  }

  h1 {
    font-size: 2em;
  }

  .intro-container {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  .title {
    font-size: 5rem;
    margin-top: 10rem;
  }

  .intro,
  .drawing-page {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 12rem 1fr 1fr 1fr 1fr;
    grid-gap: 0.4375rem;
    margin-bottom: 3em;
  }

  .intro .copy {
    grid-column: 2 / 7;
    position: relative;
    padding-left: 7em;
    padding-right: 7em;
  }

  .drawing-page header {
    transform: translateX(-50%);
    margin-left: 50%;
    margin-right: 0;
  }

  .drawing-page .title {
    margin-left: 0;
  }

  .drawing-page main {
    grid-column: 2 / 6;
    position: relative;
    text-align: left;
    margin-top: 0;
  }

  .drawing-page .content {
    margin-top: -1em;
  }
}

@media screen and (min-width: 63.75em) {
  body::after {
    content: 'large 1020-1500';
  }
  .title {
    margin-top: 15rem;
  }

  .intro .copy {
    grid-column: 2 / 5;
  }
}

@media screen and (min-width: 93.75em) {
  body::after {
    content: 'Jumbo 1500--';
  }
}
